#delivery {
    width: 100%;
    padding: 1em;
    .title-container{
        width: 100%;
    }
    .soon {
        display: flex;
        flex-flow: column;
            align-items: center;
        padding-top: 4em;
        margin-bottom: 3em;
        h1 {
                margin-bottom: 1em;
                text-align: center;
                font-size: $fsz;
        }
        img {
            width: 80%;
            border-radius: 1em;
        }
    }
    .now {
        width: 100%;
        p {
            text-align: center;
            font-size: $fsz-small*1.6;
            color: $lightblack;
        }
        &__phones {
            a {
                display: flex;
                    align-items: center;
                    justify-content: space-between;
                padding: .7em 1em;
                text-decoration: none;
                background-color: $darkgreen;
                color: $whitecustom;
                border-radius: 1em;
                font-size: $fsz-small;
                img {
                    width: 2.5em;
                    height: 2.5em;
                }
            }
            p {
                display: flex;
                    align-items: center;
                    justify-content: space-between;
                padding: .7em 1em;
                margin: 1em 0;
                font-size: $fsz-small;
                font-weight: 600;
                background-color: $lightgreen;
                color: #000;
                border-radius: 1em;
                img {
                    width: 2.2em;
                    height: 2.2em;
                }
            }
        }
    }
    .business-hours {
        width: 100%;
        margin: 2em 0;
        padding: .5em;
        background: rgba(0,0,0,.1);
        border-radius: 1em;
        display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
        &__title {
            width: 90%;
            display: flex;
                place-items: center;
            border-bottom: 1px solid rgba(0,0,0,.3);
            img {
                width: 2em;
                height: 2em;
            }
            h2 {
                font-size: $fsz-small*1.5;
                text-align: center;
                margin-bottom: .5em;
            }
        }
        p {
            margin: 1em 0;
            text-align: center;
            &:last-of-type {
                margin: 0;
            }
        }
    }
}